body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color:#1f2732;
    color: white;
    padding: 25px 0px;
    justify-content:space-between;
    opacity: 0.9;
}
.logo{
    font-size: 50px;
    font-weight: 700;
}

.menu{
    font-size: 20px;
    font-weight: 700;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li{
    margin-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover{
    background-color: white;
    color: black;
}

main  h1{
    text-align: center;
    margin-top: 180px;
    font-size: 50px;
}
main > p{
    text-align: center;
    color: grey;
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.odiv{
    border-radius: 50%;
    width: 330px;
    height: 330px;
    /* border: 2px solid red; */
    margin: 30px;
    background-color: blueviolet;
}

.div1 > img{
    border-radius: 50%;
}

.div1{
    position: relative;
}
.div2{
    position: absolute;
    text-align: center;
    top: 90px;
    left: 110px;
    color: white;
    font-size: 20px;
    opacity: 0;
}

.div2 p{
    margin-top: -20px;
}
.div2 ul{
    display: flex;
    padding: 0px;
    text-align: center;
}
.div2 ul li{
    list-style: none;
    margin: 0px 10px;
}
.odiv:hover .div2{
    opacity: 1;
}

.odiv:hover .div1 img{
    opacity: 0.3;
}

footer{
    display: grid;
}

.first{
    grid-row: 1;
    grid-column: 1;
    width: 700px;
    background-color: #101010;
    color: white;
    box-sizing: border-box;
    padding: 90px 170px 200px 105px;
    text-align: justify;
}

.second{
    grid-row: 1;
    grid-column: 2;
    background-color: #101010;
    box-sizing: border-box;
    color: white;
    width: 883px;
    padding-top: 70px;
}

.third{
    grid-row: 2;
    grid-column: 1/3;
    background-color: black;
    box-sizing: border-box;
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 25px 105px;
}

.first h4{
    color: #b539cf;
}
.first ul{
    display: flex;
    list-style: none;
    padding: 0px;
}

.first p{
    font-weight: 100;
}
/* .first ul > div{
    margin-right: 10px;
    border: 2px solid #b539cf;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    transition: 1s;
} */

.first ul li i{
    margin-right: 10px;
    border: 2px solid #b539cf;
    border-radius: 50%;
    transition: 0.2s;
    box-sizing: border-box;
    padding: 10px;
}

.first ul li  :hover{
    transform: translateY(-5px);
}



#name,#email{
    background-color: #101010;
    color: white;
    display: inline-block;
    border:none;
    width: 330px;
    border: 2px solid #101010;
    border-bottom-color: white;
    padding-bottom: 15px;
    outline: none;
    margin-right: 20px;
}

#subject,#message{
    background-color: #101010;
    color: white;
    display: inline-block;
    border:none;
    width: 690px;
    border: 2px solid #101010;
    border-bottom-color: white;
    padding-bottom: 15px;
    outline: none;
    margin-right: 20px;
}

textarea{
    resize: none;
}
.second form >input[type="button"]{
    padding: 20px 70px;
    color: white;
    background-color: #af26ca;
    border: none;
    margin-top: 40px;
    font-size: medium;
    cursor: pointer;
}


.left p{
    display: inline;
}

.bol{
    color: white;
    font-weight: bold;
    display: inline;
}

.right ul{
    display: flex;
    list-style: none;
    margin: 0px;
}

.right ul li{
    margin-right: 15px;
    font-size: large;
}

.right ul li a{
    text-decoration: none;
    color: white;
}

.right ul li a:hover{
    color: #af26ca;
}